@charset "UTF-8";
/* 変数 */
/* 共通クラス */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
  color: #777777;
  font-size: 16px;
  position: relative;
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

main {
  width: calc(100% - 280px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
}
@media (max-width: 1024px) {
  main {
    width: calc(100% - 200px);
  }
}
@media (max-width: 600px) {
  main {
    width: calc(100% - 120px);
  }
}

img {
  width: 100%;
}

.tab-br {
  display: none;
}

@media (max-width: 1024px) {
  .tab-br {
    display: block;
  }
}
/* ヘッダークラス */
#header {
  background-color: #4E4D5F;
  width: 280px;
  height: 100vh;
  padding: 80px 0;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
}
@media (max-width: 1024px) {
  #header {
    width: 200px;
  }
}
@media (max-width: 600px) {
  #header {
    width: 120px;
    padding: 40px 0;
  }
}

.header-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.header-title {
  font-size: 24px;
}
@media (max-width: 600px) {
  .header-title {
    font-size: 20px;
  }
}

.header-nav {
  margin-top: 40px;
}

.header-nav-item:first-child {
  margin-bottom: 20px;
}

.header-nav-item a:hover {
  opacity: 0.5;
}

/* aboutクラス */
#about h2 {
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 600px) {
  #about h2 {
    font-size: 16px;
  }
}
#about p {
  font-size: 12px;
  margin-top: 20px;
}

.about-wrapper {
  padding: 4vw;
  position: fixed;
  height: 100vh;
  width: calc((100% - 280px) * 0.4);
  top: 0;
  left: 280px;
}
@media (max-width: 1024px) {
  .about-wrapper {
    width: 100%;
    left: 200px;
    position: static;
    display: block;
    height: auto;
    padding: 6vw 4vw;
  }
}
@media (max-width: 600px) {
  .about-wrapper {
    padding: 8vw 4vw;
  }
}

.skills-wrapper {
  height: 100vh;
  width: 60%;
  padding: 4vw;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 1024px) {
  .skills-wrapper {
    width: 100%;
    position: static;
    padding: 6vw 4vw;
    height: auto;
  }
}
@media (max-width: 600px) {
  .skills-wrapper {
    padding: 8vw 4vw;
  }
}

.design, .coding, .other {
  padding: 40px 0;
}

.design, .coding {
  border-bottom: 1px solid;
}

.design {
  padding-top: 0;
}